<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SubModulesFolder">
            <Component Id="cmp075442F856D32D4EBB4D10F809658366" Guid="*">
                <File Id="fil18695288BB06E6EF87950D58926C5BDF" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1POSH_HelperUtils.psm1" />
            </Component>
            <Component Id="cmp209D2436A816B76E6997880E74DCD462" Guid="*">
                <File Id="filC80914129CBB74694C33B4BDEC986C8A" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_ArchiveFolder.psm1" />
            </Component>
            <Component Id="cmp7D1796F64B4D0B5ED912275F6A97B76E" Guid="*">
                <File Id="filD169BDC15CD6835F075E1A960D9C233F" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_Configuration.psm1" />
            </Component>
            <Component Id="cmpD5EF54936B5F0FB57816AE1B5573A29F" Guid="*">
                <File Id="fil06B5F02010A3345DF9769EF069BDCD58" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_DBUtils.psm1" />
            </Component>
            <Component Id="cmpC9398882CD220E2E047E9D0FFF87D327" Guid="*">
                <File Id="fil73B91101F76551B56E2821DB93B17013" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_DefaultCSS.txt" />
            </Component>
            <Component Id="cmp24DE24D3850674F0BA83043826AD53BD" Guid="*">
                <File Id="fil4B608172D9A1B5596D92FC6BE66D75E7" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_GCWorkaround.psm1" />
            </Component>
            <Component Id="cmp3D19CE2E34721427F30B4E8C33C6083A" Guid="*">
                <File Id="fil797B1037193B75EEB882ECD75D9EF5FA" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_HealthChecks.psm1" />
            </Component>
            <Component Id="cmpA16E9EE9A5821572FFD13533B756EB8B" Guid="*">
                <File Id="fil4F4F6ADA4DD0BD731DC0ED66C180FB67" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_HTML.psm1" />
            </Component>
            <Component Id="cmp9A4FA6D846804B486C31FB685D4C7CF8" Guid="*">
                <File Id="filFE982ED3024ADA283976262AD8289DB3" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_IndexHealth.psm1" />
            </Component>
            <Component Id="cmp46DC3DA54126B94CAAFB9A1890D4FFFF" Guid="*">
                <File Id="fil3E60F7E9DC00513F42B7A9E19E88C49C" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_IPM_AnalyzerUtils.psm1" />
            </Component>
            <Component Id="cmp93CB846B169CCC2BAF8C8FD6E8603704" Guid="*">
                <File Id="fil0ADF8964EE9ACEC28A578E602520BEFA" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_IPM_Resets.psm1" />
            </Component>
            <Component Id="cmpB6EBB42C61CF65FB72D80D8D67A4D90D" Guid="*">
                <File Id="fil6262320417BBAC432468991BB1A1140A" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_IPM_Utils.psm1" />
            </Component>
            <Component Id="cmpFC0218A587B7DE04D836B9BF9E83A827" Guid="*">
                <File Id="fil5A926DB3ABF289C2BE5CBC706A8B96E5" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_IPM_ValidationUtils.psm1" />
            </Component>
            <Component Id="cmp00ACDACD812BD8A98D74D0C0FF1E7776" Guid="*">
                <File Id="filFCB825E8A7AE858B3C075690E581A61F" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_Jobs.psm1" />
            </Component>
            <Component Id="cmp09F9AADCC6505EDBD91FFDC2C68E17F1" Guid="*">
                <File Id="fil9E47C37CAA75C5CCEDA7C3493DE775FA" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_MasterRoleUtils.psm1" />
            </Component>
            <Component Id="cmp46AD9A848D4777A4A6F6080157A75676" Guid="*">
                <File Id="filA26E2CC7FFE997844F154263E6BBC8B2" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_ObjectsAndTypes.psm1" />
            </Component>
            <Component Id="cmp91D9D6650F57B0001FAEB55E3ED473BA" Guid="*">
                <File Id="filE1011FC34B92B8116486B7B8590E9F39" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_Policy.psm1" />
            </Component>
            <Component Id="cmpC85338B73E5961CA1D7B21C45D50E681" Guid="*">
                <File Id="fil3F72ABCB751B3E643CB3C67ED65F6D83" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_Services.psm1" />
            </Component>
            <Component Id="cmpCE3EF34E4626449D63095AD9428B4449" Guid="*">
                <File Id="fil7506AE60A9CB75FA0653DF7355D106E0" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_SQLFuncs.psm1" />
            </Component>
            <Component Id="cmp164D080885A953E9D86BA34D72013D05" Guid="*">
                <File Id="filB307A0EB4E8C6AD43696E5368EFE992F" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_SuspendResume.psm1" />
            </Component>
            <Component Id="cmpB5BE880F85EC3F4613C6E8A5C9109588" Guid="*">
                <File Id="fil043AD17245665E0DC74C6986C12E95F4" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_VolumeHealth.psm1" />
            </Component>
            <Component Id="cmp8C615EEC3C5334CDE78CAF9FC60A206D" Guid="*">
                <File Id="filE2ABA92EEF91689866FEE0021F8A0452" KeyPath="yes" Source="$(var.ES1POSHFILES)\ES1_WorkerRolesUtils.psm1" />
            </Component>
            <Component Id="cmpED7C3F3093AD605E6DCB37BCE37FAFD5" Guid="*">
                <File Id="fil87F9E2AECC7E5E654803E95B33AB9216" KeyPath="yes" Source="$(var.ES1POSHFILES)\ExternalUtils.psm1" />
            </Component>
            <Component Id="cmp1786AF0C95FD7315EFC1C6FE26B0D71D" Guid="*">
                <File Id="filEC8E7B31EA0A34109AC03F2701F1F075" KeyPath="yes" Source="$(var.ES1POSHFILES)\folderdefaults.xml" />
            </Component>
            <Component Id="cmp3217BFBB9AA0AD10376010DB77BB7A7A" Guid="*">
                <File Id="fil792DA7989974292587EB0E766B50BC2B" KeyPath="yes" Source="$(var.ES1POSHFILES)\SourceOne_POSH.psd1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ModuleComponents">
            <ComponentRef Id="cmp075442F856D32D4EBB4D10F809658366" />
            <ComponentRef Id="cmp209D2436A816B76E6997880E74DCD462" />
            <ComponentRef Id="cmp7D1796F64B4D0B5ED912275F6A97B76E" />
            <ComponentRef Id="cmpD5EF54936B5F0FB57816AE1B5573A29F" />
            <ComponentRef Id="cmpC9398882CD220E2E047E9D0FFF87D327" />
            <ComponentRef Id="cmp24DE24D3850674F0BA83043826AD53BD" />
            <ComponentRef Id="cmp3D19CE2E34721427F30B4E8C33C6083A" />
            <ComponentRef Id="cmpA16E9EE9A5821572FFD13533B756EB8B" />
            <ComponentRef Id="cmp9A4FA6D846804B486C31FB685D4C7CF8" />
            <ComponentRef Id="cmp46DC3DA54126B94CAAFB9A1890D4FFFF" />
            <ComponentRef Id="cmp93CB846B169CCC2BAF8C8FD6E8603704" />
            <ComponentRef Id="cmpB6EBB42C61CF65FB72D80D8D67A4D90D" />
            <ComponentRef Id="cmpFC0218A587B7DE04D836B9BF9E83A827" />
            <ComponentRef Id="cmp00ACDACD812BD8A98D74D0C0FF1E7776" />
            <ComponentRef Id="cmp09F9AADCC6505EDBD91FFDC2C68E17F1" />
            <ComponentRef Id="cmp46AD9A848D4777A4A6F6080157A75676" />
            <ComponentRef Id="cmp91D9D6650F57B0001FAEB55E3ED473BA" />
            <ComponentRef Id="cmpC85338B73E5961CA1D7B21C45D50E681" />
            <ComponentRef Id="cmpCE3EF34E4626449D63095AD9428B4449" />
            <ComponentRef Id="cmp164D080885A953E9D86BA34D72013D05" />
            <ComponentRef Id="cmpB5BE880F85EC3F4613C6E8A5C9109588" />
            <ComponentRef Id="cmp8C615EEC3C5334CDE78CAF9FC60A206D" />
            <ComponentRef Id="cmpED7C3F3093AD605E6DCB37BCE37FAFD5" />
            <ComponentRef Id="cmp1786AF0C95FD7315EFC1C6FE26B0D71D" />
            <ComponentRef Id="cmp3217BFBB9AA0AD10376010DB77BB7A7A" />
        </ComponentGroup>
    </Fragment>
</Wix>