<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="SetupDialogUI">

      <Property Id="Install">installbtn</Property>
      <Binary Id="installbtn" SourceFile="images/installbtn.bmp"/>
          
      <DialogRef Id="ProgressDialog"/>

      <Dialog Id="SetupDialog" Width="400" Height="300" Title="!(loc.ApplicationName)">

        <Control Id="background" Type="Bitmap" Text="bgPic" Height="300" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="header" Type="Bitmap" Text="headerPic" Height="50" Width="400" X="0" Y="0" TabSkip="no" />
        <Control Id="introText"  Type="Text" X="75" Y="50" Width="350" Height="22" Transparent="yes" Text="{\TahomaHeader}!(loc.IntroText)" />
        <Control Id="explanationText" X="85" Y="100" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="100" Text="{\TahomaNormal}!(loc.IntroExplanation)" />

        <Control Id="installButton" Type="PushButton" Text="[Install]" Height="62" Width="222" X="90" Y="180" Bitmap="yes">
          <Publish Event="EndDialog" Value="Return" />
        </Control>

        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="40" Width="144" X="135" Y="245" Cancel="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>

    </UI>

    <InstallUISequence>
      <Show Dialog="SetupDialog" Before="ExecuteAction" />
    </InstallUISequence>
  </Fragment>
</Wix>